<div class="gm-tools-content">
  <div class="button-row">
    <button type="button" class="primary" data-tool="money-management">
      <i class="fas fa-coins"></i> Manage Money
    </button>
  </div>

  <div class="button-row">
    <button type="button" class="primary" data-tool="vendor-creation">
      <i class="fas fa-store"></i> Create Vendor
    </button>
  </div>

  <div class="button-row">
    <button type="button" class="primary" data-tool="vendor-manager">
      <i class="fas fa-store-alt"></i> Manage Vendors
    </button>
  </div>
</div>